*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.dynapuff-<uniquifier> {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
  font-family: "Fuzzy Bubbles";
  font-size: 16px;
  color: #262626;
  background-color:#a5edff;
}


/*nav*/
nav {
 width: 100%;
 height: 100px;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 padding: 0px 100px;
}

nav a{
  color: #262626;
  padding-left: 30px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #747474;
  text-decoration: underline;
  font-size: 18px;
}

main {
  width: 85vw;
  margin: 0 auto;
}


/*title, names, and dates*/
.title {
  height: 500px;
  
}
.title h1 {
  font-family: DynaPuff;
  font-size: 70px;
}

.title h2 {
  font-size: 35px;
  font-weight: 700;
}

.name {
  font-family: DynaPuff;
  font-weight: 500;
  font-size: 2rem;
}

.date {
  font-style: italic;
}


/*executive board*/
.board-section h2 {
  font-family: DynaPuff;
  font-weight: 500;
  height: 50px;
  font-size: 2rem;
}

.board {
  height: 600px;
  width: 100%;
  display: flex;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 150px;
}

.member, .image {
  background-size: cover;
  background-position: center;
}

.member {
  flex: 10px;
  padding-top: 520px;
  padding-left: 20px;
  color: white;
}

.yoshi {
  background-image: url("https://preview.redd.it/pt46vgcqhge21.png?width=640&crop=smart&auto=webp&s=46525394c894ae74413c10f7a0042f95f849264b");
  color: #262626;
}

.venom {
  background-image: url("https://www.alexrossart.com/cdn/shop/files/cruRD-30GM3vbgaWEfih34Yl6QwVnEBh69Lo4EkHS6daR4qvyq8o7XzL67FDOZgQ5t4QWFA6Q0JsEwrt-WD6gefRKh1HFH9O2NSWiosRG6sQSXI4cN_AcRouNfsFzuw9sd5MIWuPQtYFsflgmjtzn1zU_ZqAOLu9xZ3mWy19MkI_1024x1024.jpg?v=1719328278");
  color: white;
}

.miku {
  background-image: url("https://preview.redd.it/miku-in-fortnite-key-art-v0-cvdo8jzw2rce1.jpeg?auto=webp&s=826c4b2258258f856559d7a7d703a1e12a6848d7");
}

.gary {
  background-image: url("https://i.redd.it/gqxpi4fbvn721.jpg");
  color:#262626;
}


/*recent works*/
.work-section h2 {
  font-family: DynaPuff;
  font-weight: 500;
  font-size: 2rem;
  height: 35px;
}

.work {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 150px;
}

.project, .image {
  background-size: cover;
  background-position: relative;
}

.project {
  flex: 10px;
  padding-top: 520px;
  padding-right: 20px;
  color: white;
  margin: 15px 0px;
  border-radius: 20px;
  text-align: right;
}

.RPG {
  background-image: url("https://preview.redd.it/fat-yoshi-in-hd-v0-p40q1cbi0x0c1.jpg?width=1080&crop=smart&auto=webp&s=17c486dac9d76cd9b2d6fb829c05ffd8dcc8748c");
}

.rivals {
  background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,w_1279,h_719,x_0,y_0/c_fill,w_1440,ar_16:9,f_auto,q_auto,g_auto/images/voltaxMediaLibrary/mmsport/esports_illustrated/01jq7wwqd0jzcn73y33x.png");
}

.fortnite {
  background-image: url("https://imageio.forbes.com/specials-images/imageserve/6786822e60af125c6c9cfc1e/0x0.jpg?format=jpg&height=900&width=1600&fit=bounds");
}

.idk {
  background-image: url("https://pbs.twimg.com/media/DnT5GcFWwAEpDNV.jpg");
}
